{:deps {markdown-clj/markdown-clj {:mvn/version "1.10.7"}}
 :paths ["src"]
 :tasks
 {
  clean {:doc "Deletes the target folder"
         :requires ([babashka.fs :as fs])
         :task (fs/delete-tree "public")}
  build  {:doc "Builds the site into the public folder"
         :requires ([freeston.core])
          :task (freeston.core/-main)}
  serve {:doc "Runs a minimal local server to view the site"
         :requires ([freeston.server])
         :task (do (freeston.core/-main)
                   (freeston.server/start!))}
  watch {:doc "Like serve but also rebuilds the site on change"
         :requires ([freeston.watch])
         :task (freeston.watch/start!)}
  tags {:doc "Print all the currently used tags"
        :requires ([freeston.core :refer :all])
        :task (prn (-> posts-src-path parse-posts get-all-tags sort))}
  post {:doc "Creates a new blog post md file"
        :task (spit
               (str "content/posts/" (java.time.LocalDate/now) "-" (first *command-line-args*) ".md")
               "{\n:title \"\"\n:layout :post\n:tags []\n}")}}}

