@import "normalize.css";

/* font definitions */

@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 300; /* light */
    src: local('Fira Sans Condensed Light'), url(/fonts/FiraSansCondensed-Light.woff2) format('woff2'), url(/fonts/FiraSansCondensed-Light.woff) format('woff');
    font-display: swap;
}
			
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 400; /* regular */
    src: local('Fira Sans Condensed Regular'), url(/fonts/FiraSansCondensed-Regular.woff2) format('woff2'), url(/fonts/FiraSansCondensed-Regular.woff) format('woff');
    font-display: swap;
}
			
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 600; /* semibold */
    src: local('Fira Sans Condensed SemiBold'), url(/fonts/FiraSansCondensed-SemiBold.woff2) format('woff2'), url(/fonts/FiraSansCondensed-SemiBold.woff) format('woff');
    font-display: swap;
}

/* hljs stylesheet */

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#F0F0F0}.hljs,.hljs-subst{color:#444}.hljs-comment{color:#888888}.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}.hljs-title,.hljs-section{color:#880000;font-weight:bold}.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}.hljs-literal{color:#78A960}.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

/* freeston.me stylesheet */

:root {
    --text-color: #131516;
    --background-color: #f1efe4;
    --pop-color: #f7e5b7;
    --dark-pop-color: #f7dd9b;
    --title-color: #824e06;
    --link-color: var(--text-color);
    --hover-color: #7f6f61;
}

*,
:after,
:before {
    box-sizing: border-box;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    overflow-wrap: break-word;
    border:0 solid;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 15pt;
    line-height: 1.3;
    margin: 0 auto;
    padding: 24px;
    max-width: 32em;
    color: var(--text-color);
    background-color: var(--background-color);
}

p {
    margin-block: 0.8rem;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
    color: var(--title-color);
}

a {
    text-decoration-color: var(--hover-color);
    text-decoration-style: dotted;
    text-decoration-skip: spaces;
}

a:link { color: var(--link-color); }
a:visited { color: var(--link-color); }
a:hover { color: var(--hover-color); }

ul {
    padding: 0px;
    list-style-type: none;
}

ol {
    padding-left: 12px;
}

nav {
    margin-bottom: 2rem;
    font-weight: 400;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 0.5rem;
    justify-content: flex-start;
    
}

nav a {
    text-decoration: none;
    padding: 0.2rem 0.6rem;
    border-radius: 16px;
    background: var(--pop-color);
}

nav a:hover {
    color: inherit;
    background: var(--dark-pop-color);
}

ul.hlist {
    display: inline;
}

ul.hlist li {
    margin-right: 4px;
    display: inline;
}

.footnotes {
    margin-top: 36px;
    font-size: smaller;
}

.date {
    font-style: italic;
}

.freeston-title {
    font-weight: 600;
}

a.title-link:link, a.title-link:visited {
    text-decoration: none;
    color: var(--title-color);
}

.hljs {
    background: transparent;
    font-size: 11pt;
}

.post-tags {
    margin-top: 36px;
}

footer {
    margin-top: 48px;
}

.row {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0;
}

.item {
    display: table-cell;
    vertical-align: top;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 16px 0;
}

.project {
    flex: 1;
    background-color: var(--pop-color);
    border-radius: 4rem;
    min-width: 10em;
    margin: 4px 0;
    padding: 16px 32px;
    text-align: center;
}

.project h2 {
    margin: 0 0 12px 0;
    font-size: 24px;
}

.project p {
    margin: 0px;
    align-content: center;
}

/* Cluster Components  */


