<div class="post-header">
  <div id="post-meta">
    <h1><a href="{{post.uri}}" class="title-link">{{post.title}}</a></h1>
    <div class="byline">
      <span class="date">{{post.date|date:longDate}}</span>
    </div>
  </div>
</div>
<div>
  {% if post.toc %}{{post.toc|safe}}{% endif %}
  {% if post.image|not-empty %}<p><img src="{{post.image}}"></p>{% endif %}
  {{post.content|safe}}
</div>
{% if post.tags|not-empty %}
<div class="post-tags">
  <a href={{post.next.uri}}>{% if post.next|not-empty %}previous{% endif %}</a>
  <a href={{post.prev.uri}}>{% if post.prev|not-empty %}next{% endif %}</a>
  <br/>
  <b>Tags:</b>
  {% for tag in post.tags %}
  <a href="{{tag.uri}}">{{tag.name}}</a>
  {% endfor %}
</div>
{% endif %}
