@import "normalize.css";
@import url('');

@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 300; /* light */
    src: url(/fonts/FiraSansCondensed-Light.woff) format('woff');
}
			
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 400; /* regular */
    src: url(/fonts/FiraSansCondensed-Regular.woff) format('woff');
}
			
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 600; /* semibold */
    src: url(/fonts/FiraSansCondensed-SemiBold.woff) format('woff');
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    margin: 0 auto;
    padding: 24px;
    max-width: 32em;
    color: #131516;
}

p {
    margin-top: 12px;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 8px;
}

a:link { color: #373d3f; }
a:visited { color: #373d3f}
a:hover { color: #555f61; }

nav {
    margin-bottom: 30px;
    font-weight: 400;
}

nav li {
    margin-right: 12px;
    display: inline;    
}

ul {
    padding: 0px;
    list-style-type: none;
}

ol {
    padding-left: 12px;
}

.footnotes {
    margin-top: 36px;
    font-size: smaller;
}

.date {
    font-style: italic;
}

.freeston-title {
    font-weight: 400;
}

a.title-link:link, a.title-link:visited {
    text-decoration: none;
    color: #131516;
}

.hljs {
    background: transparent;
    font-size: 11pt;
}

.post-tags {
    margin-top: 36px;
}

footer {
    margin-top: 48px;
}

.row {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
}
.item {
  display: table-cell;
  vertical-align: top;
}
.item img {
  display: block;
  width: 100%;
  height: auto;
}
